body {
    background-color: #f8f8f8;
}
.menu li {
    padding-left: 40px;
    list-style-type: none;
    font-family: serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 550;
    color: #3b3352;
    
}
.menu li a {
    text-decoration: none;
    color: #3b3352;
}
h1 {
    padding-left: 110px;
    color: #453c2a;
    font-size: 35px;
    font-family: serif;
    font-style: normal;
    
}
.text {
    padding-left: 50px;
    color: #2f2e33;
    font-size: 18px;
    font-family: sans-serif;
    font-style: oblique;
    line-height: 22px;
    
    
}
h2 {
    font-size: 22px!important;
}
.heading {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}
.short {
    color: #707070;
    font-size: 18px;
    font-style: italic;
    line-height: 18px;
}
.long {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.specifications {
    list-style-image: url(img/001.png);
    color: #454444;
    font-size: 16px;
    font-family: cursive;
    font-style: oblique;
    font-weight: 150;
    line-height: 24px;
}
.link {
    text-decoration: none;
    color: #473d61;
    font-family: sans-serif;
    font-style: oblique;
    font-size: 16px;
    font-weight: 600
}
.contact {
    padding-left: 60px;
    color: #473d61;
    font-family: sans-serif;
    font-style: oblique;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
input[type=text],
input[type=email] {
    width: 220px;
    height: 30px;
    color: #58516b;
    font-size: 16px;
    font-family: sans-serif;
    font-style: normal;
    padding-left: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #7f7d85;
}
textarea {
    padding-left: 10px;
    width: 600px;
    height: =350px;
    color: #58516b;
    font-size: 16px;
    font-family: sans-serif;
    font-style: normal;
    border-width: 2px;
    border-style: solid;
    border-color: #7f7d85;
    
}
